.header {
  height: 5rem;
  background-color: RGBA(0,0,0,0.3);
  display: flex;
  justify-content: center;
}

.header__container {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.settings {
  display: block;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background: url('../../assets/icons/settings.svg') no-repeat center center;
}

.header__nav {
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  max-width: 25rem;
  width: 100%;
  justify-content: space-between;
}

.nav-list__item-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #f2f2f2;
  text-decoration: none;
}

.nav-list__item-link.active {
  border-bottom: #f2f2f2 1rem solid;
}

.nav-list__item-link:hover {
  border-bottom: #f2f2f2 1rem solid;
}
