.garage__inputs-create,
.garage__inputs-update{
  display: flex;
  align-items: center;
}

.input-name {
  width: 20rem;
  height: 3rem;
}

.input-color {
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.inputs-create__button,
.inputs-update__button {
  margin-left: 1rem;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
}

.garage {
  &__button {
    max-width: 10rem;
    width: 100%;
    height: 3rem;
    cursor: pointer;
  }

  &__btns-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    width: 100%;
  }
}

