.popup {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 10rem;
  display: none;
  color: #fff;
  font-size: 4rem;
  background: #5f9ea0a6;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: center;
}
